#mainmenu-start-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--action);
}

#creators, #creators img {
    margin-top: 20px;
    color: var(--text);
    opacity: 0.7;
    height: 15px;
    font-size: 20px;
}

#credits-card {
    position: fixed;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    background: var(--base);
    overflow: scroll;
}

#credits-close {
    width: 24px;
    display: block;
    position: absolute;
    background: none;
    top: 10px;
    right: 10px;
}

#credits-card h1, #credits-card p {
    margin: 10px;
    background: none;
    text-align: center;
}

#jgk {
    border-radius: 20px;
}

.htag {
    color: hsl(50, 100%, 40%);
    text-align: center;
}