.remove-player {
    color: var(--base);
    aspect-ratio: 1 / 1;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    background-color: var(--danger);
    border-radius: 10px;
}

.remove-player:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#player-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 12px;
    margin: 20px;
}

.player-list-item {
    display: flex;
    height: 50px;
    background-color: var(--primary);
}

.player-list-item input, button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--text);
}

button {
    margin: 15px 0px;
    background-color: var(--secondary);
}

button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#start-button {
    background-color: var(--action);
}

#start-button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

/* Kategorijų grupės */

#word-category-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.word-category {
    width: 180px;
    height: 140px;
    background-color: var(--secondary);
    padding: 16px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word-category p {
    color: var(--text);
    background: none;
    font-size: 28px;
}

.word-badges {
    display: flex;
    background: none;
}

.word-category img {
    width: 32px;
    background: none;
    margin: 4px;
}